// Widget
.widget {
  background: $light-grey;
  margin-bottom: $xl-size;
}

.widget__message {
  border-bottom: 1px solid lighten($light-grey, 10%);
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

// Widget Header
.widget-header {
  background: $grey;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}

