// Colors
$black: #000000;
$off-white: #a5afd7;
$dark-grey: hsl(0, 0%, 7%);
$grey: #303030;
$light-grey: #424242;
$off-white: #a5afd7;
$purple: #3e50b4;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;